
 .class1 {
display: flex;

}

.class1:hover{
  color: rgb(234, 47, 14);
}

.container-fluid{
  font-weight: bold;
}

.navbar{
  background-color: rgb(31, 188, 212);
}

.navbar-collapse :hover{
  color: rgb(212, 247, 15);
}

