

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 100px;margin-left: 100px; margin-right: 100px ;" >
  
  <img src='https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft_To-Do_icon.png' alt='image'
  style="max-width:10%;
  max-height:10%;">

  <p>{{message}}</p>

  
    
    <form #form ="ngForm" (ngSubmit)="login()" >
      <!-- <form> -->
      <label for="name">User Name:</label><br>
      <input type="name" id="name" name="name" [(ngModel)]="user.userName"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" [(ngModel)]="user.password"><br><br>
      
      <button type="submit">Login</button>
    </form> 

  
  
  




</div>

<router-outlet></router-outlet> 

  