<div style="display: flex; flex-direction: column; align-items: center; margin-top: 150px; border-style: dashed; margin-left: 100px; margin-right: 100px ;" >

  <p>{{message}}</p>

  
    
    <form #form ="ngForm" (ngSubmit)="login()" >
      <!-- <form> -->
      <label for="name">User Name:</label><br>
      <input type="name" id="name" name="name" [(ngModel)]="user.userName"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" [(ngModel)]="user.password"><br><br>
      
      <button type="submit">Login</button>
    </form> 

  
  
  




</div>

<router-outlet></router-outlet> 

  