<div class="cardsBlock" *ngIf="lists && lists.length>0" style=" flex-direction: column; ">

  <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; gap: 10px; max-height: 250px; margin: 10px; overflow-y: scroll;">
    <!-- loop over the outer array using *ngFor -->
    <div class="singleCard" *ngFor="let list of lists" style="">

      <a [routerLink]="['/list', list.id]" style="text-decoration: none; color: black;">
        <mat-card style="margin: 50;  ">

          <mat-card-title *ngIf="list.name;  
          else noName">{{ list.name }}</mat-card-title>

          <ng-template #noName>
            <mat-card-title>
              Unnamed
            </mat-card-title>
          </ng-template>

          <!-- entry length -->
          <mat-card-subtitle *ngIf="list.entries.length<=1; else elseBlock">
            {{list.entries.length}} Entry</mat-card-subtitle>

          <ng-template #elseBlock><mat-card-subtitle>{{list.entries.length}} Entries</mat-card-subtitle></ng-template>

        </mat-card>

      </a>
      <div style="display: flex; flex: 1;">
        <button style="height: 30px; width: 10px;" mat-raised-button (click)="deleteList(list.id)" color="warn">
          <mat-icon>delete</mat-icon></button>
        <button style="height: 30px; width: 10px;" mat-raised-button (click)="fillForm(list.id)" (click)="scroll('editTarget')" color="primary">
          <mat-icon>edit</mat-icon></button>
      </div>


    </div>

  </div>

  <div>
    <div
      style="display: flex; flex-direction: row; gap: 50px; margin-top: 20px; justify-content: center; ">


      <button style="" mat-raised-button  (click)="showAddForm()" (click)="scroll('add-target')" color="primary">
          
        <mat-icon>{{icon}}</mat-icon>
      </button>


      <div class="addList" style="">

        
        

        <form id="add-target" [hidden]="!showAddList" #Form="ngForm" (ngSubmit)="addNewList(newList)" #formDirective="ngForm">
          <p></p>
          <h4 style="color: rgb(33, 86, 201);">Add New List</h4>

          <div>
            <mat-form-field>
              <mat-label>Name </mat-label>
              <input matInput name="name" [(ngModel)]="newList.name">
            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" type="submit">Add New List</button>

        </form>

      </div>
      <div  class="updateList" style="">

        <form id="editTarget" [hidden]="!showEditList" #Form="ngForm" (ngSubmit)="updateList(editedList.id,editedList)" #formDirective="ngForm">
          <p></p>
          <h4 style="color: rgb(33, 86, 201);">Edit List Name</h4>

          <div>
            <mat-form-field>
              <mat-label>Name </mat-label>
              <input matInput name="name" [(ngModel)]="editedList.name">
            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" type="submit">Edit Name</button>
          <button mat-raised-button color="warn" (click)="showEditForm()">Cancel</button>

        </form>

      </div>

    </div>

  </div>


  <p style="justify-content: center; display: flex; color: yellow; ">{{errorMessage}}</p>


</div>

<div *ngIf="!lists || lists.length <= 0" style="display: flex; align-items: center; flex-direction: column;  ">
<mat-spinner   > 
</mat-spinner>
<p>No Lists To Display</p>
</div>

<router-outlet></router-outlet>