.cardsBlock{
display: flex;
flex-direction: row; 
gap: 10px; 
margin: 100; 
background-color: aquamarine; 
justify-content: center;
}


  .singleCard:hover{
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }




