

  <div class="cardsBlock" *ngIf="lists && lists.length>0" style="display: flex; margin-top: 110px; flex-direction: column;">

    <div style="display: flex; flex-direction: row; justify-content: center;">
    <!-- loop over the outer array using *ngFor -->
    <div class="singleCard" *ngFor="let list of lists" style="background-color: black; min-width: 100px; ">


      <a [routerLink]="['/list', list.id]" style="text-decoration: none; color: black;">
        <mat-card style="margin: 50; ">

          <mat-card-title>{{ list.name }}</mat-card-title>
          <mat-card-subtitle *ngIf="list.entries.length<=1; else elseBlock">
            {{list.entries.length}} Entry</mat-card-subtitle>

          <ng-template #elseBlock><mat-card-subtitle>{{list.entries.length}} Entries</mat-card-subtitle></ng-template>

        </mat-card>

      </a>
      <button style="height: 30px; width: 10px;" mat-raised-button (click)="deleteList(list.id)" color="warn">
        <mat-icon>delete</mat-icon></button>
      <button style="height: 30px; width: 10px;" mat-raised-button (click)="fillForm(list.id)" color="primary">
        <mat-icon>edit</mat-icon></button>

    </div>

  </div>

    <div>
      <div style="display: flex; flex-direction: row; gap: 50px; margin-top: 20px; justify-content: center;">
      
      
        <div class="addList">
          <form #Form="ngForm" (ngSubmit)="addNewList(newList)" #formDirective="ngForm">
            <h4>Add new list</h4>
      
            <div>
              <mat-form-field>
                <mat-label>Name </mat-label>
                <input matInput name="name" [(ngModel)]="newList.name">
              </mat-form-field>
            </div>
      
            <button mat-raised-button color="primary" type="submit">Add New List</button>
            <p>{{errorMessage}}</p>
      
          </form>
        </div>
      
        <div class="updateList">
      
          <form #Form="ngForm" (ngSubmit)="updateList(editedList.id,editedList)" #formDirective="ngForm">
            <h4>Edit List Name</h4>
      
            <div>
              <mat-form-field>
                <mat-label>Name </mat-label>
                <input matInput name="name" [(ngModel)]="editedList.name">
              </mat-form-field>
            </div>
      
            <button mat-raised-button color="primary" type="submit">Edit Name</button>
      
          </form>
      
        </div>
      
      </div>
      
      </div>




  </div>


<!-- <div>
<div style="display: flex; flex-direction: row; gap: 50px; margin-top: 20px; margin-left: 120mm;">


  <div class="addList">
    <form #Form="ngForm" (ngSubmit)="addNewList(newList)" #formDirective="ngForm">
      <h4>Add new list</h4>

      <div>
        <mat-form-field>
          <mat-label>Name </mat-label>
          <input matInput name="name" [(ngModel)]="newList.name">
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">Add New List</button>

    </form>
  </div>

  <div class="updateList">

    <form #Form="ngForm" (ngSubmit)="updateList(editedList.id,editedList)" #formDirective="ngForm">
      <h4>Edit List Name</h4>

      <div>
        <mat-form-field>
          <mat-label>Name </mat-label>
          <input matInput name="name" [(ngModel)]="editedList.name">
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">Edit Name</button>

    </form>

  </div>

</div>

</div> -->
<p *ngIf="!lists || lists.length <= 0"> No list to display (log in).</p>