
  <!--filter dropdown-->
  <div class="nav-item dropdown " style="display: inline-block;">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
      style="color: rgb(235, 61, 13); font-size: large;" matTooltip="Filter">
      <mat-icon style="font-weight: bold;">filter_list</mat-icon>
    
    </a>
    <ul class="dropdown-menu">
      <li><button class="dropdown-item" (click)="alphabeticFiltering(listDetails.entries, flag)">A-Z</button></li>
      <li><button class="dropdown-item" (click)="dateFiltering(listDetails.entries, flag)">By Date</button></li>
      <li><button class="dropdown-item" (click)="priorityFiltering(listDetails.entries,flag)">By Priority</button>
      <li><button class="dropdown-item" (click)="completedFiltering(listDetails.entries,flag)">By Completeness</button>
      </li>
    </ul>
    <!-- End of dropdown-->
  </div>


  <div class="cards-page" *ngIf="listDetails">

    <div class="single-card" *ngFor="let entry of listDetails.entries">
      <mat-card style="">
        <!--entry name field-->
        <mat-card-title  *ngIf="entry.name;  
          else noName">
          {{entry.name}}
        </mat-card-title>

        <ng-template #noName>
          <mat-card-title>
            Unnamed
          </mat-card-title>
        </ng-template>
        <!--entry name field-->

        <!--date field use with either parseDate() or pipe like below.-->
        <mat-card-subtitle>
          Date: {{entry.date | date:'longDate'}}
        </mat-card-subtitle>
        <!--date field-->

        <!--description field-->
        <mat-card-subtitle *ngIf="entry.description; 
          else noDesc" style="font-weight: bold; color: blue; ">
          {{entry.description}}
        </mat-card-subtitle>


        <ng-template #noDesc>
          <mat-card-subtitle style="visibility: hidden;">
            -
          </mat-card-subtitle>
        </ng-template>

        <!--description field-->

        <!--task completion field-->
        <mat-card-subtitle *ngIf="entry.isCompleted; 
          else elseBlock" style="color: green; font-weight: bold;">
          Task Completed.
        </mat-card-subtitle>

        <ng-template #elseBlock>
          <mat-card-subtitle style="color: red; font-weight: bold;">
            Task Not Completed.
          </mat-card-subtitle>
        </ng-template>
        <!--task completion field-->

        <!--priority field-->
        <mat-card-subtitle>
          {{entry?.priorityLevel|titlecase}}
          Priority
        </mat-card-subtitle>
        <!--priority field-->


        <div class="card-button-group">

          <button style="flex: 1 ;height: 30px;" mat-raised-button color="accent" matTooltip="Complete
          "
            (click)="completeTask(entry.id, entry)">
            <mat-icon>check_circle</mat-icon>
          </button>

          <button style="flex: 1 ;height: 30px; " (click)="fillForm(entry.id)" mat-raised-button color="primary" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>

          <button style="flex: 1 ; height: 30px; " mat-raised-button (click)="deleteEntry(entry.id)" color="warn" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>

        </div>

      </mat-card>


    </div>
  </div>
  <p *ngIf="!listDetails"> List Not Found</p>


  <div style="display: flex; flex-direction: row; gap: 10px; justify-content: center;">
    <!-- <p>Actions</p> -->

    <p>Add Entry</p>

    <div>
      <button mat-fab color="primary" (click)="showAddForm()" matTooltip="Add a New Entry">
        <mat-icon>{{icon}}</mat-icon>
      </button>
      <!-- <button mat-fab color="accent" (click)="showEditForm()" matTooltip="Edit an Entry">
        <mat-icon>{{icon2}}</mat-icon>
      </button> -->
    </div>

    <div style="display: flex; flex-direction: row;  background-color: green; justify-content: center;  ">
      <div class="" style="  background-color: #495563;border-style: solid; border-color: blueviolet;"
        *ngIf="showAddEntry">

        <form #Form="ngForm" (ngSubmit)="addEntry(listDetails.id, newEntryDetails)" #formDirective="ngForm">

          <div>
            <mat-form-field>
              <mat-label>Name </mat-label>
              <input matInput maxlength="20" name="name" [(ngModel)]="newEntryDetails.name">
            </mat-form-field>
          </div>


          <div>
            <mat-form-field>
              <mat-label>Priority</mat-label>
              <mat-select value="" name="priorityLevel " [(ngModel)]="newEntryDetails.priorityLevel">
                <mat-option value="HIGH">High</mat-option>
                <mat-option value="MEDIUM">Medium</mat-option>
                <mat-option value="LOW">Low</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field style="color: red;">
              <mat-label>Description</mat-label>
              <textarea matInput name="description" [(ngModel)]="newEntryDetails.description"></textarea>

            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" type="submit">Add New Entry</button>
        </form>
      </div>

      <div class="" style="background-color: #495563; border-style: solid; border-color: khaki;" *ngIf="showEditEntry">

        <form #Form="ngForm" (ngSubmit)="editEntry(editedEntryDetails.id, editedEntryDetails)" #formDirective="ngForm">

          <div>
            <mat-form-field>
              <mat-label>Name </mat-label>
              <input matInput name="name" [(ngModel)]="editedEntryDetails.name" value="value">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Priority</mat-label>
              <mat-select name="priorityLevel " [(ngModel)]="editedEntryDetails.priorityLevel">
                <mat-option value="HIGH">High</mat-option>
                <mat-option value="MEDIUM">Medium</mat-option>
                <mat-option value="LOW">Low</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Description</mat-label>
              <textarea matInput name="description" [(ngModel)]="editedEntryDetails.description">
          </textarea>
            </mat-form-field>
          </div>

          <div style="display: flex; ">
          <button style="flex: 1;" mat-raised-button color="primary" type="submit" matTooltip="Done"><mat-icon>check</mat-icon></button>
          <button style="flex: 1;" mat-raised-button color="accent" (click)="showEditForm()" matTooltip="Cancel"><mat-icon>cancel</mat-icon></button>
        </div>
        </form>
      </div>


    </div>






  <router-outlet></router-outlet>